.donatepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.container {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #003b4d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

button:hover {
    background-color: #ffd166;
    color: #003b4d;
    transform: translateY(-2px);
}